.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  
  padding: 0.8em;
  cursor: pointer;
  overflow: hidden;
}
.alphabet {
  cursor: pointer;
  margin: 0px 0.15em;
  color: var(--fg-secondary);
   
}
.alphabet:hover {
  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  margin: 0px 0.5em;
  color: var(--accent-fg);
}