.wrapper {
  background-color: aquamarine;
  height: 72px;
  width: 100%;
}
.innerWrapper {
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    cursor: pointer;
    height: 74px;
    width: 100%;
    box-sizing: border-box;
    background: var(--bg);
    border-block-end: 0.5px solid var(--border-secondary);
}
.avatarWrapper {
  flex-shrink: 0;
  border-radius: 50%;
  background: #000;
  border: 2px solid #0000;
}